{% load static %} {% load qr_code %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    <title>Qr Code</title>
  </head>
  <body>
    <div class="container">
      {% block content %}
      <h1>Scan to connect to my Mobile Hotspot</h1>
      <img
        src="{% qr_url_for_wifi wifi_config options=options %}"
        alt="qr_code"
      />{% endblock %}
    </div>
  </body>
</html>
